<p>Enter Base Players</p>
<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Role</th>
  </tr>

  <tr *ngFor="let item of [0, 1, 2]">
    <td>
      <input name="name1" [(ngModel)]="pname[item]" />
    </td>
    <td>
      <select name="team1" [(ngModel)]="pteam[item]">
        <option>Team-A</option>
        <option>Team-B</option>
      </select>
    </td>
    <td>
      <select name="Role1" [(ngModel)]="prole[item]">
        <option>WK</option>
        <option>BT</option>
        <option>AL</option>
        <option>BL</option>
      </select>
    </td>
  </tr>
</table>
<hr />

<button (click)="baseplayeradded()">Add Base</button>
