<p>Enter Base Player</p>
<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Role</th>
  </tr>

  <tr *ngFor="let item of [0, 1, 2, 3, 4, 5]">
    <td>
      <input name="name{{ item }}" [(ngModel)]="baseplayers[item].name" />
    </td>
    <td>
      <select name="team{{ item }}" [(ngModel)]="baseplayers[item].team">
        <option>Team-A</option>
        <option>Team-B</option>
      </select>
    </td>
    <td>
      <select name="role{{ item }}" [(ngModel)]="baseplayers[item].role">
        <option>WK</option>
        <option>BT</option>
        <option>AL</option>
        <option>BL</option>
      </select>
    </td>
  </tr>
</table>
<hr />

<button (click)="baseplayeradded()">Add Base</button>
