1. Base Players

<table>
  <tr *ngFor="let item of this.stoservice.BasePlayer">
    <td>
      <span>{{ item.name }}</span>
    </td>
    <td>
      <span>{{ item.team }}</span>
    </td>
    <td>
      <span>{{ item.role }}</span>
    </td>
  </tr>
</table>
2. Rotainal Players

<table>
  <tr *ngFor="let item of this.stoservice.RotationalPlayers">
    <td>
      <span>{{ item.name }}</span>
    </td>
    <td>
      <span>{{ item.team }}</span>
    </td>
    <td>
      <span>{{ item.role }}</span>
    </td>
  </tr>
</table>
3. Combinational Players

<table>
  <tr *ngFor="let item of this.stoservice.CombinationPlayers">
    <td>
      <span>{{ item.name }}</span>
    </td>
    <td>
      <span>{{ item.team }}</span>
    </td>
    <td>
      <span>{{ item.role }}</span>
    </td>
  </tr>
</table>
<button>Generate</button>
<hr />

Total : <input [(ngModel)]="totalcount" /> Select :
<input [(ngModel)]="selectioncount" /> &NonBreakingSpace;
<button (click)="setcount()">Set</button>
<br />
<br />
<table>
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>Role</th>
  </tr>

  <tr *ngFor="let item of baseArray">
    <td>
      <input name="bname{{ item }}" [(ngModel)]="players[item].name" />
    </td>
    <td>
      <select name="bteam{{ item }}" [(ngModel)]="players[item].team">
        <option>Team-A</option>
        <option>Team-B</option>
      </select>
    </td>
    <td>
      <select name="brole{{ item }}" [(ngModel)]="players[item].role">
        <option>WK</option>
        <option>BT</option>
        <option>AL</option>
        <option>BL</option>
      </select>
    </td>
  </tr>
</table>
<div>
  <div *ngFor="let msg of errormsgs.messages">
    <span class="{{ errormsgs.class }}">{{ msg }}</span>
  </div>
</div>

<button name="addbase" (click)="playersadded('base')">Add Base</button
>&NonBreakingSpace;
<button name="addbase" (click)="playersadded('rotation')">Add Rotation</button
>&NonBreakingSpace;
<button (click)="playersadded('combination')">Add Combination</button>
