p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}
td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  border: 1px solid;
}

.INFO {
  color: green;
  font: verdana;
}
.ERRR {
  color: red;
  font: verdana;
}
